.slider {
    position: relative;
    overflow: hidden;
}

.slide {
    display: none;
}

.slide.active {
    display: block;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
}

.prevButton {
    left: 0;
}

.nextButton {
    right: 0;
}
